/* .sidebar{
    max-width: 240px;
    background-color: aqua;
} */
.height_55{
    
    height: 55px;
    
    
}

i{
    cursor: pointer;
}








/* .nav-pills .nav-link.active span ,.nav-pills .nav-link.active i{
    color: white !important;
    background-color: blueviolet !important;
} */


