/* .sidebar{
    max-width: 240px;
    background-color: aqua;
} */
.height_55{
    
    height: 55px;
    
    
}

i{
    cursor: pointer;
}

 /* ul li:hover {
    background-color: #0D6EFD;
  
    border-radius: 5px; 
}
 ul li:hover span ,  ul li:hover i {
    color: white;
}    */






/* .nav-pills .nav-link.active span ,.nav-pills .nav-link.active i{
    color: white !important;
    background-color: blueviolet !important;
} */


