

.sidebar  a{
    display: block;
   

    /* cursor: pointer; */

}
i{
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #0D6EFD;
    color: white !important ;
    border-radius: 5px; 
}
.sparator{
 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    min-height: 1px;
}
nav{
 transition: all 0.5s;
}
